<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Sign Up</h1>
                    <h6>Register Now</h6>
                </div>
                <form>
                    <form [formGroup]="signupForm" (ngSubmit)="signUp()">
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">First Name</label>
                            <input formControlName="firstName" type="text" class="form-control" id="exampleInputPassword1">
                            <span class="text-danger" *ngIf="signupForm.controls['firstName'].dirty && signupForm.hasError('required', 'firstName')">*First Name is required</span>
                          </div>
                          <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">LastName</label>
                            <input formControlName="lastName" type="text" class="form-control" id="exampleInputPassword1">
                            <span class="text-danger" *ngIf="signupForm.controls['lastName'].dirty && signupForm.hasError('required', 'lastName')">*Last Name is required</span>
                          </div>
                          <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Username</label>
                            <input formControlName="username" type="text" class="form-control" id="exampleInputPassword1">
                            <span class="text-danger" *ngIf="signupForm.controls['username'].dirty && signupForm.hasError('required', 'username')">*Username is required</span>
                          </div>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email address</label>
                          <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                          <span class="text-danger" *ngIf="signupForm.controls['email'].dirty && signupForm.hasError('required', 'email')">*Email is required</span>
                          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Phone</label>
                            <input formControlName="phone" type="number" class="form-control" id="exampleInputPassword1">
                            <span class="text-danger" *ngIf="signupForm.controls['phone'].dirty && signupForm.hasError('required', 'phone')">*Phone is required</span>
                          </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
                          <span class="text-danger" *ngIf="signupForm.controls['password'].dirty && signupForm.hasError('required', 'password')">*Password is required</span>
                        </div>
                        <button type="submit" class="btn btn-primary mb-2" [disabled]="!signupForm.valid">Sign Up</button>
                      </form>
                      <a style="color: #fff; margin-top:10px" routerLink="/login">Already have an account? Click to login</a>
                </form>
            </div>
        </div>
    </div>
</div>
